.inviteContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 80px;
    overflow-x: hidden;
}

.inviteContainer .inviteHeading {
    font-size: 44px;
    font-weight: 650;
    line-height: 50px;
}

.inviteContainer .inviteDesc {
    line-height: 28px;
    padding-top: 20px;
}