* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #000000;
}

.header2 {
	font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #ffffff;
}

.header1 {
	font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

.mainContainer {
	background-color: #404eed;
}

.btnHoverWhite:hover {
	cursor: pointer;
    box-shadow: 0 5px 10px 5px rgb(61, 61, 248, .8) ;
    color: #404eed;
}


/* Three Section */

.threeSection {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 80px;
    overflow-x: hidden;
}

.threeSection .threeHeading {
    font-size: 44px;
    font-weight: 700;
    line-height: 50px;
}

.threeSection .threeDesc {
    line-height: 28px;
    padding-top: 20px;
}

.threeSection .threeImg {
    max-width: 60%;
}
/* Three Section */

